<ng-container [ngSwitch]="sidebar">
    <ng-container *ngSwitchCase="true">
        <ng-container [ngSwitch]="aboveHeader">
            <app-sidebar *ngSwitchCase="true" [appName]="appName" [appVersion]="appVersion" [materialVersion]="materialVersion" [above]="aboveHeader" [routes]="routes"></app-sidebar>
            <ng-container *ngSwitchDefault>
                <app-header class="header" [appName]="appName" [sidebar]="sidebar"></app-header>
                <app-sidebar [appName]="appName" [appVersion]="appVersion" [materialVersion]="materialVersion" [routes]="routes" [sidebar]="sidebar"></app-sidebar>
                <app-footer class="footer" [appVersion]="appVersion" [materialVersion]="materialVersion"></app-footer>
            </ng-container>
        </ng-container>
    </ng-container>
    <ng-container *ngSwitchDefault>
        <app-header class="header" [appName]="appName" [routes]="routes"></app-header>
        <div class="container-fluid py-1">
            <router-outlet></router-outlet>
        </div>
        <app-footer class="footer" [appVersion]="appVersion" [materialVersion]="materialVersion"></app-footer>
    </ng-container>
</ng-container>
