@use '@angular/material' as mat;
@import 'src/styles/typography';

$light-primary: mat.define-palette(mat.$green-palette);
$light-accent: mat.define-palette(mat.$orange-palette);
$light-warn: mat.define-palette(mat.$red-palette);
$light-theme: mat.define-light-theme(
        (
            color: (
                primary: $light-primary,
                accent: $light-accent,
                warn: $light-warn
            ),
            typography: $app-typography
        )
);
