@use 'sass:map';
@use 'node_modules/@angular/material/index' as mat;
@use 'node_modules/@angular/material/core/theming/theming' as theming;
@use 'node_modules/@angular/material/core/typography/typography' as typography;
@use 'node_modules/@angular/material/core/typography/typography-utils' as typography-utils;
@use 'src/styles/variables' as variables;
@use './variables' as toolbar-variables;
@import 'src/styles/mixins';

@mixin _height($height) {
    .header, .footer {
        min-height: $height;
    }
    .mat-toolbar-multiple-rows {
        min-height: $height;
    }
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: $height;
    }
}

@mixin color($config-or-theme) {
    $config: mat.get-color-config($config-or-theme);
    $primary: map.get($config, primary);
    $accent: map.get($config, accent);
    $warn: map.get($config, warn);
    $background: map.get($config, background);
    $foreground: map.get($config, foreground);

    $themes: (
        primary: $primary,
        accent: $accent,
        warn: $warn,
    );

    .mat-toolbar {

        @each $name, $color in $themes {
            &.mat-#{$name} {
                .mat-toolbar-row {
                    @include palette-styles($color);

                    &:last-child {
                        @include palette-styles($color, 200, darker);
                    }
                }
            }
        }
    }
}

@mixin typography($config-or-theme) {
    $config: typography.private-typography-to-2014-config(mat.get-typography-config($config-or-theme));

    :is(.footer) {
        .mat-toolbar {
            @include mat.typography-level($config, caption);
        }
    }
}

@mixin density($config-or-theme) {
    @include _height(toolbar-variables.$height-desktop);

    @media(variables.$xsmall) {
        @include _height(toolbar-variables.$height-mobile);
    }
    .header, .footer {
        display: block;
    }

    .mat-toolbar {
        $zIndex: 5;

        &.no-toolbar-row {
            @include mat.elevation($zIndex);
        }

        .mat-toolbar-row {
            &:first-child {
                z-index: $zIndex;
                @include mat.elevation($zIndex);
            }

            &:last-child {
                height: 32px;
            }
        }
    }
}

@mixin theme($config-or-theme) {
    $config: theming.private-legacy-get-theme($config-or-theme);
    $color: mat.get-color-config($config);
    $density: mat.get-density-config($config);

    @if $color != null {
        @include color($color);
    }

    @if $density != null {
        @include density($density);
    }
}
